@charset 'utf-8';
.navbar{
    z-index: 999;
}
#nav-container{
    width: 1200px;
}
#content-container{
    position: relative;
    min-height: 100%;
    /*background-color: rgb(209, 67, 67);*/
    left: 50%;
    transform: translateX(-50%);
    padding-top: 16px;
    display: flex;
    flex-flow: wrap row;
    overflow: hidden;
}
@media screen and (min-width:1210px){
    #content-container{
        width: 1200px;
    }
    #top-article-big{
        width: 700px;
    }
    #top-article-small{
        width: 475px;
        padding-left: 10px;
    }
    .col-md-4>img{
        height: 100%;
    }
    .g-0{
        height: 100%;
    }
}
@media screen and (max-width:1210px){
    #content-container{
        width: 90%;
    }
    #top-article-big{
        width: 100%;
    }
    #top-article-small{
        width: 100%;
        display: flex;
        flex-flow: wrap column;
    }
}

.card {
    margin-bottom: 0px!important;
    margin-top: 4px;
}